.college-poc-graph-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the right */
    width: 100%;
}

.college-poc-graph-dropdown-container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end; /* Align the dropdowns to the right */
    margin-left: auto; /* Push the container to the right */
    white-space: nowrap;
    padding: 8px;
}

.college-poc-graph-dropdown-wrapper {
    position: relative;
}

.college-poc-graph-dropdown-btn {
    padding: 10px 20px;
    background-color: #FBF7F7;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 200px;
    height: 50px;
    margin-top: -50px;
}

.college-poc-graph-dropdown-btn .college-poc-graph-dropdown-arrow {
    margin-left: auto;
}

.college-poc-graph-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Ensure it appears above other elements */
    border-radius: 12px;
    width: 100%;
    visibility: visible; /* Ensure visibility */
    opacity: 1; /* Ensure it’s fully visible */
    max-height: 200px;         /* 👈 Set the height */
    overflow-y: auto;          /* 👈 Enable scrolling */
}

.college-poc-graph-dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.college-poc-graph-dropdown-item:hover {
    background-color: #f0f0f0;
}

.college-poc-graph-dropdown-item.college-poc-graph-selected {
    font-weight: bold;
    background-color: #e0e0e0;
}

.college-poc-graph-refresh-btn {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #DC2626;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 35px;
}

.college-poc-graph-refresh-btn:hover {
    background-color: #FF474A;
}

.college-poc-graph-refresh-icon {
    margin-left: 15px;
    font-size: 16px;
}
