.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  
.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.unc-logo {
    width: 130px;
    margin: 0 10px;
}

.system-logo {
    width: 100px;
    margin: 0 10px;
}

.main-title {
    font-size: 30px;
    color: #0187F1;
    text-align: center;
    font-weight: 600;
    font-family: 'Inter';
    margin-left: 60px;
}

.eie {
    font-weight: bold;
    color: #007bff;
    text-decoration: underline;
    cursor: help;
}
  
.subtitle {
    font-family: 'Poppins';
    font-size: 15px;
    color: #383838;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 60px;
    text-align: left;
    font-weight: 800;
}
  
.login-form {
    display: flex;
    flex-direction: column;
    width: 460px;
}
  
.form-group {
    margin-top: 8px;
}

.password-form-label{
    font-family: 'Poppins';
    font-size: 15px;
    color: #383838;
    margin-top: 15px;
    margin-right: 2px;
    margin-bottom: 15px;
    font-weight: bolder;
    white-space: nowrap;
}

.email-form-label{
    font-family: 'Poppins';
    font-size: 15px;
    color: #383838;
    margin-top: 15px;
    margin-right: 3px;
    margin-bottom: 15px;
    font-weight: bolder;
    white-space: nowrap;
}

.login-form-label {
    font-family: 'Poppins';
    font-size: 15px;
    color: #383838;
    margin-top: 18px;
    margin-bottom: 12px;
    margin-right: 3px;
    font-weight: bolder;
    white-space: nowrap;

}
  
.dropdown-container {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown {
    width: 400px;
    height: 50px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 16px;
    border-radius: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-left: 16px
}

.dropdown-logo {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    width: 55px;
    height: 25px;
}


.email-input-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
  
.email-input {
    width: 220px;
    height: 50px;
    padding: 10px;
    font-family: 'Poppins';
    font-size: 18px;
    border-radius: 10px;
    margin-left: 16px;
    border: 1px solid #ccc;
}
  
.email-domain {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-left: 10px;
    border: 1px solid #ccc;
}
  
.email-domain img {
    margin-left: 1px;
    width: 30px;
    height: 30px;
}

.email-domain span {
    margin-left: 18px;
}

.password-input-container {
    display: flex;
    align-items: center;

}

.password-input-wrapper {
    position: relative;
    flex-grow: 1;
    margin-left: 5px;
}

.password-input {
    width: 374px;
    height: 50px;
    padding: 10px 40px 10px 10px;
    font-family: 'Poppins';
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    transition: border 0.3s ease;
}

.password-input:focus {
    border: 2px solid #007bff;
    outline: none;
}

.toggle-password-icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 1;
}

.forgot-password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.forgot-password {
    font-family: 'Poppins Regular';
    font-size: 18px;
    color: #0187F1;
    text-decoration: underline;
}

.login-button {
    width: 110px;
    height: 45px;
    background-color: #0187F1;
    border-radius: 32px;
    color: #FFF3F0;
    font-family: 'Poppins';
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
