.dropdown-yearlevel-semester {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 20px;
    margin-top: 20px;
  }
  
  .dropdown-year-level,
  .dropdown-semester {
    position: relative;
  }

  .dropbtn {
    padding: 10px 20px;
    background-color: #FBF7F7;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 220px;
    height: 50px;
  }

  .dropbtn .dropdown-icon {
    margin-left: auto;
  }
  
  .dropdown-content-year-level,
  .dropdown-content-semester {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: max-content;
    border-radius: 5px;
  }

  .dropdown-content-year-level p,
  .dropdown-content-semester p {
    margin: 0;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dropdown-content-year-level p:hover,
  .dropdown-content-semester p:hover {
    background-color: #f0f0f0;
  }
  