.esl-dashboard-sidebar {
  background-color: #f3f3f3;
  width: 320px;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-right: 3px solid #e0e0e0;
  position: fixed;
  z-index: 10;
  overflow-y: auto; /* Enable vertical scrolling */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #c4c4c4 #f3f3f3; /* Customize scrollbar colors */
}

/* Logo and Title section */
.esl-dashboard-logo-title {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 80px;
}

.logo {
  width: 60px;
  height: 60px;
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.title {
  color: #383838;
  font-family: "Poppins";
  font-size: 32px;
  font-weight: 800;
  margin: 0;
}

/* Sidebar Buttons */
.esl-prime-pages {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.esl-eie-management-sidebar-button, 
.esl-eie-diagnostic-sidebar-button, 
.esl-eie-reporting-sidebar-button, 
.esl-dashboard-sidebar-button {
  height: 80px;
  border: none;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}
.esl-eie-management-sidebar-button:hover, 
.esl-eie-diagnostic-sidebar-button:hover, 
.esl-eie-reporting-sidebar-button:hover, 
.esl-dashboard-sidebar-button:hover {
  background-color: #0187F1;
  border-radius: 8px;
}
.esl-eie-management-sidebar-button:hover p, 
.esl-eie-diagnostic-sidebar-button:hover p, 
.esl-eie-reporting-sidebar-button:hover p, 
.esl-dashboard-sidebar-button:hover p{
  color: white;
}

.esl-eie-management-sidebar-button img {
  width: 60px;
  height: 60px; 
  margin-right: 10px;
  margin-left: 5px;
} 
.esl-eie-diagnostic-sidebar-button img {
  width: 50px; /* Adjust icon size */
  height: 50px; /* Keep icons square */
  margin-right: 15px; /* Space between icon and title */
  margin-left: 8px;
}
.esl-eie-reporting-sidebar-button img{
  width: 40px; /* Adjust icon size */
  height: 40px; /* Keep icons square */
  margin-right: 15px; /* Space between icon and title */
  margin-left: 17px;
}
.esl-dashboard-sidebar-button img{
  width: 50px; /* Adjust icon size */
  height: 70px; /* Keep icons square */
  margin-right: 15px; /* Space between icon and title */
  margin-left: 10px;
}
.esl-eie-management-sidebar-button p, 
.esl-eie-diagnostic-sidebar-button p, 
.esl-eie-reporting-sidebar-button p, 
.esl-dashboard-sidebar-button p{
  margin: 0; /* Remove default margin from <p> */
  font-size: 20px; /* Adjust font size */
  font-weight: 500; /* Adjust font weight */
  color: black; /* Set text color */
  font-family: 'Poppins';
}
.extra-buttons-container {
  margin-top: 10px; /* Adjust as needed */
  display: flex;
  flex-direction: column; /* Stacks buttons vertically */
}

.epgf-rubric-button,
.monthly-champions-button,
.certification-button,
.accounts-button {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.epgf-rubric-button:hover,
.monthly-champions-button:hover,
.certification-button:hover,
.accounts-button:hover {
  background-color: #0187F1; /* Highlight color on hover */
  border-radius: 8px; /* Rounded corners */
}
.epgf-rubric-button:hover p,
.monthly-champions-button:hover p,
.certification-button:hover p,
.accounts-button:hover p{
  color: white;
}
.monthly-champions-button img{
  margin-left: 32px;
  width: 60px;
  height: 60px;
}

.epgf-rubric-button img{
  margin-left: 40px;
  width: 50px;
  height: 50px;
}
.certification-button img{
  margin-left: 35px;
}
.accounts-button img{
  margin-left: 40px;
  margin-top: -10px;
}

.epgf-rubric-button p, 
.monthly-champions-button p, 
.certification-button p,
.accounts-button p{
  text-align: left;
  font-family: 'Poppins';
  font-size: 18px;
}
.epgf-rubric-button p{
  margin-top: 15px;
  margin-left: 30px;
}
.monthly-champions-button p{
  padding-top: 10px;
  margin-left: 28px;
}
.certification-button p{
  margin-right: 20px;
  margin-left: 30px;
  margin-top: 15px;
}
.accounts-button p{
  margin-right: 40px;
  margin-left: 25px;
  margin-top: 15px;
}